<div class="row mt-3"></div>
<div class="row mt-5">
    <div class="col">
        <h2>Results</h2>
        <p><strong>Article Name:</strong> <%= resultData.name %></p>
        <p><strong>Language:</strong> <%= resultData.language %></p>
        <p><strong>Language Level:</strong> <%= resultData.level %></p>
        <p><strong>GPT-4 Response:</strong></p>
        <pre><%= resultData.gptResponse %></pre>
        <% if (resultData.outputPath) { %>
            <a href="/download/<%= resultData.outputPath.split('/').pop() %>" class="btn btn-primary">Download Anki Package</a>
        <% } %>    </div>
</div>